.RedirectBox {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    &__Box {
      max-width: 640px;
    }
    &__Title {
      margin-bottom: 30px;
    }

    &__Button {
      margin-top: 30px;
    }
}
