.FlagLanguage {
  height: 100%;
  width: 100%;

  &__Flag {
    height: 15px;
    width: 24px;
    margin-bottom: -2px;
  }

  > * {
    display: inline-block;
  }

  > *:first-child {
    margin-right: 10px;
  }
}