.Layout {
  height: 100%;

  &__Content {
    // 100% - padding - header height
    height: calc(100% - 50px - 66px);
    padding: 50px 0 0 0;
    background-color: #f3f1f0;
    position: relative;
  }

  &__Footer {
    margin-top: 40px;
  }
}
