/*
 *
 * ProfilePage style
 *
 */

.ProfilePage {
  height: 100%;

  &__Header {
    width: 100%;
    background-color: #545251;
    position: absolute;
    top: 0;
    left: 0.5rem;
    height: 50px;

    &__Items {
      display: initial;
    }

    &__Item {
      display: inline-block;
      padding: 14.5px 12px;
      color: #9d9a98;

      &:first-child {
        padding-left: 0;
      }

      &_Active {
        position: relative;

        *,
        > * {
          color: white;
        }

        &:after {
          content: '';
          background-color: orange;
          height: 4px;
          width: 90%;
          display: block;
          bottom: -2px;
          margin: auto;
          position: absolute;
        }
      }
    }
  }
}
