// flex grid viewports
$xs-only-viewport: "only screen and (max-width: 47em)";
$sm-viewport: "only screen and (min-width: 48em)";
$sm-only-viewport: "only screen and (min-width: 48em) and (max-width: 64em)";
$md-viewport: "only screen and (min-width: 64em)";
$md-only-viewport: "only screen and (min-width: 64em) and (max-width: 75em)";
$lg-viewport: "only screen and (min-width: 75em)";

$font-family: 'Open Sans';
$base-font-size: 13px;
