.LoginForm {
  background-color: white;
  height: 100%;
  width: 100%;

  &__Submit {
    float: right;
  }

  &__Forgot {
    text-align: left;
  }

  &__Title {
    margin-bottom: 30px;
  }

  &__Error {
    padding: 10px 10px;
  }
}
