.RoundedNumber {
  border-radius: 50%;
  text-align: center;
  color: #8a8786;
  font-size: 11px;

  &.orange {
    background-color: orange;
    color: white;
  }

  &.grey {
    background-color: #efecea;
  }
}
