.LiveEdition {
  display: inline;

  &__Input {
    margin-top: -5px;
    padding: 5px;
    margin-left: -5px;
    font-size: $font_size_text_big;
    background-color: #efecea;
    color: white;
    border-radius: 4px;
    border: none;
  }
}
