/*
 *
 * Home style
 *
 */

.HomePage {
  height: 100%;
  width: 100%;
  display: flex;
  color: white;

  > div {
    margin: auto;
    display: flex;
    > h1 {
      font-size: 60px;
    }
    > a {
      font-size: 20px;
      margin: auto auto 0 auto;
    }
  }
}
