.Loader {
  height: 0;
  width: 100%;
  min-height: 24px;

  &__Spiner {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: 5px solid transparent;
      border-top-color: $cyan;
    }

    &::before {
      z-index: 100;
      animation: spin 1s infinite;
    }

    &::after {
      border: 5px solid #cecccb;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
